VITE_BOT_TESTNET_CHAIN_ID=0x3c8
VITE_BOT_TESTNET_NAME=BOT Chain Testnet
VITE_BOT_TESTNET_RPC_URL=https://rpc.bohr.life
VITE_BOT_TESTNET_EXPLORER_URL=https://scan.bohr.life
VITE_BOT_TESTNET_SYMBOL=BOT
VITE_AGENT_STATUS_URL=http://127.0.0.1:8787/status

DEPLOYER_PRIVATE_KEY=
AGENT_PRIVATE_KEY=
VAULT_ADDRESS=
AGENT_PORT=8787
AGENT_INTERVAL_MS=60000
AGENT_ACTION_AMOUNT_BOT=0
